/* common */
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html,
body {
    scroll-behavior: smooth;
    height: 5000px;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
}
.btn {
    display: inline-block;
    width: 117px;
    height: 50px;
    outline: none;
    border: none;
    border: 1px solid #000958;
    border-radius: 25px;
    background: transparent;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Header */
.header {
    margin-top: 26px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navabar__list {
    display: flex;
    align-items: center;
    gap: 36px;
}
.action__link,
.navbar__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-btn {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    color: #000958;
}
.action__link:hover,
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
    margin-top: 100px;
}
.hero__inner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img-1 {
    position: absolute;
    top: 0;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    z-index: 1;
    border: 2px solid #fff;
}
.hero-img-2 {
    position: absolute;
    top: 302px;
    right: 616px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-radius: 16px;
    z-index: 2;
    border: 2px solid #fff;
}
.hero-decor__right,
.hero-decor__left {
    position: absolute;
}
.hero-decor__right {
    top: 16px;
    right: 740px;
}
.hero-decor__left {
    bottom: 31px;
    left: -59px;
}
.hero-summary {
    padding: 18px 14px;
    position: absolute;
    width: 250px;
    height: 156px;
    left: 129px;
    top: 426px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    z-index: 3;
}
.hero-summary__avatar-1,
.hero-summary__avatar-2 {
    border-radius: 10px;
}
.hero-summary__avatar-1 {
    background: #fec23f;
}
.hero-summary__avatar-2 {
    background: #c6e2fa;
}
.hero-summary__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-summary__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero-summary__separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}
.hero-summary__label {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}
.hero-intro {
    margin-top: 71px;
    width: 44.1%;
}
.hero-intro__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}
.hero-intro__desc {
    width: 75.6%;
    margin-top: 24px;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.hero-intro__action {
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 189px;
    height: 60px;
    background: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    border-color: transparent;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.hero-btn__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.hero__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: underline;
    color: #000958;
}

/* About */
.about-1 {
    margin-top: 201px;
}
.about-1__top {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.about-1__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-1__info {
    width: 41%;
}
.about-1__heading {
    margin-top: 15px;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
    margin-bottom: 24px;
}
.about-1__desc {
    margin-bottom: 57px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
.about-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px;
}
.about-list__title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about-list__title::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: var(--primary-color);
    margin-right: 10px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about-list__title::after {
    position: absolute;
    width: 13px;
    height: 9px;
    rotate: -45deg;
    top: 4px;
    left: 4px;
    content: "";
    border-left: 2px solid #fff2e5;
    border-bottom: 2px solid #fff2e5;
}
.about-1__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}
.about-1__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}
.about-1__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
}
.about-1__decor {
    position: absolute;
    top: 149px;
    right: -72px;
    z-index: -1;
}
.about-1-summary {
    padding: 31px 26px 29px 26px;
    position: absolute;
    top: 165px;
    right: 453px;
    width: 136px;
    height: 156px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}
.about-1-summary__stats {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}
.about-1-summary__desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}
.about-1-summary__decor {
    position: absolute;
    top: 126px;
    right: 420px;
}

/* About-2 */
.about-2 {
    margin-top: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
    margin-bottom: 174px;
}

.about-2__image {
    position: relative;
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}
.about-2__img {
    margin: 0 auto;
    border-radius: 18px;
}
.about-2__decor {
    position: absolute;
}

.about-2__decor:nth-child(2) {
    position: absolute;
    top: 8px;
    right: 52px;
}
.about-2__decor:nth-child(3) {
    position: absolute;
    top: -18px;
    right: 10px;
}
.about-2__decor:nth-child(4) {
    position: absolute;
    top: 31px;
    right: -24px;
}
.about-2__decor:nth-child(5) {
    position: absolute;
    top: 284px;
    right: -33px;
}
.about-2__decor:nth-child(6) {
    position: absolute;
    top: 335px;
    right: 15px;
}
.about-2__decor:nth-child(7) {
    position: absolute;
    top: 435px;
    right: -45px;
}

.about-2-info {
    width: 50%;
}
.about-2__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}
.about-2__desc {
    width: 86%;
    margin-top: 24px;
    margin-bottom: 52px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.about-2-active {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-2__list {
    display: flex;
    align-items: center;
}
.about-2__logo {
    margin-right: 6px;
}
.about-2__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about-2__memo {
    width: 67%;
    margin-top: 36px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.about-2__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}

/* Service */
.service {
    padding-top: 68px;
    background-color: #f7e7d7 !important;
    padding-bottom: 90px;
}
.service__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #5e6085;
}
.service__label {
    margin-top: 15px;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    text-align: center;
    color: #000958;
}
.service-row {
    margin-top: 31px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 71px;
}
.service-item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
    margin-bottom: 24px;
}
.service-item:first-child {
    margin-top: 40px;
}
.service-item:last-child {
    margin-bottom: 40px;
}
.service-item__title {
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
    padding-left: 12px;
}
.service-item__title::before {
    position: absolute;
    content: "";
    display: inline-block;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
    left: 0px;
}
.service__image {
    position: relative;
    margin-top: 50px;
}
.service__image::after {
    position: absolute;
    content: "";
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 109px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}
.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}
.service-item__desc {
    margin-top: 18px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.service-item__active {
    display: flex;
    align-items: center;
}
.service-item__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #34396a;
    margin-right: 10px;
}
.service-btn {
    margin-top: 45px;
    width: 214px;
    height: 56px;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    margin-left: 50%;
    transform: translateX(-50%);
}
